body {
  background-color: plum;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(254, 226, 230);
  box-shadow: 0 6px 4px -4px black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.title {
  font-family: "Comfortaa", cursive;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: palevioletred;
  text-align: center;
}

.gif_love {
  width: 250px;
  height: 250px;
}

.container {
  max-width: 1000px;
  max-height: 100%;
  margin: 0 auto;
  background-color: rgb(177, 166, 244);
}

.main_content {
  padding: 25px 20px 0 20px;
  box-shadow: 0 2px 4px black;
}

.gif_gif {
  display: block;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.text {
  font-family: "Comfortaa", cursive;
  margin: 0 0 20px 0;
  font-size: 25px;
  text-align: justify;
  color: purple;
}

a {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: white;
  font-size: 20px;
  display: block;
  text-align: center;
}
